<p id="notice"><%= notice %></p>

<p>
  <strong>姓名:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>电话:</strong>
  <%= @team.phone %>
</p>

<p>
  <strong>区域:</strong>
  <%= @team.area %>
</p>

<p>
  <strong>状态:</strong>
  <%= @team.status %>
</p>

<p>
  <strong>地址:</strong>
  <%= @team.address %>
</p>

<%= link_to '编辑', edit_team_path(@team) %> |
<%= link_to '返回', teams_path %>
