<%= form_tag "/orders/dispatch_list", method: "get" do %>
  <div class="row col-md-8" style="margin-bottom: 10px;">
    <div class="col-lg-8">
        <%= search_field_tag "like", nil, class: "form-control" %>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <input type="text" name="install_date" class="form-control" id="date-select">
        <span class="input-group-btn">
          <%= submit_tag "查询", class: "btn btn-default" %>
        </span>
      </div>
    </div>
  </div>
<% end %>
<div class="col-md-4">
  <a href="javascript:prints()" class="btn btn-primary pull-right">打印全部</a>
</div>

<table id="orders"
       data-toggle="table"
       data-detail-view="true"
       data-detail-formatter="detailFormatter"
       data-minimum-count-columns="2"
       data-id-field="id">
  <thead>
  <tr>
    <th>安装工</th>
    <th>客户姓名</th>
    <th>联系电话</th>
    <th>详细地址</th>
    <th class="col-sm-1">安装日期</th>
    <th>商品型号</th>
    <th>销售单号</th>
    <th>备注</th>
    <th class="single line" colspan="2">操作</th>
  </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <a href="#" data-name="team_name" data-type="text" data-pk="<%= order.id %>"
             data-url="/orders/<%= order.id.to_s + ".json" %>" data-value="<%= order.team_name %>"
             class="team-click"><%= order.team_name %>
          </a>
        </td>
        <td><%= order.customer %></td>
        <td><%= order.phone %></td>
        <td><%= order.address %></td>
        <td>
          <a href="#" data-name="install_date" data-type="date" data-pk="<%= order.id %>"
             data-url="/orders/<%= order.id.to_s + ".json" %>" data-value="<%= order.install_date %>"
             class="install_date-click"><%= order.install_date %>
          </a>
        </td>
        <td><%= order.item_type %></td>
        <td><%= order.lading_no %></td>
        <td>
          <a href="#" data-name="note" data-type="textarea" data-pk="<%= order.id %>"
             data-url="/orders/<%= order.id.to_s + ".json" %>" data-value="<%= order.note %>"
             class="note-click"><%= order.note %>
          </a>
        </td>
        <td><a href="javascript:print(<%= order.id %>)">打印</a></td>
        <td><a href="javascript:finished(<%= order.id %>)" class="finished" id="<%= order.id %>">完工</a></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="11">
        <div class="ui right floated pagination menu">
          <%#= paginate @orders %>
        </div>
      </th>
    </tr>
  </tfoot>
</table>

<script>
  var head = document.head || document.getElementsByTagName("head")[0] || document.documentElement;
  var oscript = document.createElement("script");
  oscript.src = "http://192.168.0.205:8001/CLodopfuncs.js?priority=2";
  head.insertBefore(oscript, head.firstChild);

  function getLodop(oOBJECT,oEMBED) {
      var LODOP;
      try{
          try{
              LODOP=getCLodop();
          } catch (err){};
          if(!LODOP && document.readyState!=="complete"){
              alert("C-Lodop没准备好，请稍候再试！");
              return;
          }
          if(oEMBED && oEMBED.parentNode) oEMBED.parentNode.removeChild(oEMBED);
          if(oOBJECT && oOBJECT.parentNode) oOBJECT.parentNode.removeChild(oOBJECT);

          return LODOP;
      } catch (err) {alert("getLodop出错：" + err);};
  };

  function needCLodop() {
      return true;
  };

  var LODOP;
  LODOP=getLodop();

  function print(oid) {
      $.getJSON("/orders/" + oid, function(json){
              var objOrder = eval(json);
              var lading_no = objOrder.lading_no;
              var item_type = objOrder.item_type.substring(item.indexOf("K"));
              var customer = objOrder.customer;
              var address = objOrder.address;
              var phone = objOrder.phone;
              var updated_at = objOrder.updated_at;
              var sale_name = objOrder.sale_name;
              var team_name = objOrder.team_name;
              var note = (objOrder.note == null)? "" : objOrder.note;

              LODOP.PRINT_INIT("");
              LODOP.SET_PRINT_PAGESIZE(1,"220mm","93mm","派工单");
              addPrintContent(lading_no, item_type, customer, address, phone, updated_at, sale_name, team_name, note);
              LODOP.PREVIEW();
      });
  };

  function prints() {
      $.getJSON("/orders/dispatch_list", function(json){
          for(var i=0; i<json.length; i++){
              var objOrders = eval(json);
              var lading_no = objOrders[i].lading_no;
              var item_type_p = objOrders[i].item_type;
              var item_type = item_type_p.substring(item_type_p.indexOf("K"));
              var customer = objOrders[i].customer;
              var address = objOrders[i].address;
              var phone = objOrders[i].phone;
              var updated_at = objOrders[i].updated_at;
              var sale_name = objOrders[i].sale_name;
              var team_name = objOrders[i].team_name;
              var note = (objOrders[i].note == null)? "" : objOrders[i].note;

              LODOP.PRINT_INIT("");
              LODOP.SET_PRINT_PAGESIZE(1,"241mm","93mm","派工单");
              addPrintContent(lading_no, item_type, customer, address, phone, updated_at, sale_name, team_name, note);
              LODOP.PRINT();
          }
      });
  };

  function addPrintContent(lading_no, item_type, customer, address, phone, updated_at, sale_name, team_name, note) {
      LODOP.SET_PRINT_STYLE("FontColor",16711680);
      LODOP.ADD_PRINT_RECT(31,16,459,217,0,1);
      LODOP.SET_PRINT_STYLE("Underline", 1);
      LODOP.ADD_PRINT_TEXT(5,337,431,25,"弘飞盛兴派工单");
      LODOP.SET_PRINT_STYLEA(2,"FontName","隶书");
      LODOP.SET_PRINT_STYLEA(2,"FontSize",18);
      LODOP.SET_PRINT_STYLEA(2,"FontColor",0);
      LODOP.ADD_PRINT_TEXT(45,37,731,25,"单号：" + lading_no + "         经销商："+ sale_name);
      LODOP.SET_PRINT_STYLEA(3,"FontSize",14);
      LODOP.SET_PRINT_STYLEA(3,"FontColor",0);
      LODOP.ADD_PRINT_TEXT(72,37,731,25,"工人：" + team_name + "                      派工时间：" + updated_at);
      LODOP.SET_PRINT_STYLEA(4,"FontSize",14);
      LODOP.SET_PRINT_STYLEA(4,"FontColor",0);
      LODOP.ADD_PRINT_TEXT(99,37,631,25,"姓名：" + customer + "               电话：" + phone);
      LODOP.SET_PRINT_STYLEA(5,"FontSize",14);
      LODOP.SET_PRINT_STYLEA(5,"FontColor",0);
      LODOP.ADD_PRINT_TEXT(126,37,631,25, "地址：" + address);
      LODOP.SET_PRINT_STYLEA(6,"FontSize",14);
      LODOP.SET_PRINT_STYLEA(6,"FontColor",0);
      LODOP.ADD_PRINT_TEXT(154,37,631,25,"型号：" + item_type);
      LODOP.SET_PRINT_STYLEA(7,"FontSize",14);
      LODOP.SET_PRINT_STYLEA(7,"FontColor",0);
      LODOP.ADD_PRINT_TEXT(181,37,631,25,"备注：" + note);
      LODOP.SET_PRINT_STYLEA(8,"FontSize",14);
      LODOP.SET_PRINT_STYLEA(8,"FontColor",0);
  };

  function finished(oid) {
      var data = {order: {"status": "派工已完工"}, "authenticity_token": "<%= form_authenticity_token %>"};
      $.ajax({
          async: false,
          url: "/orders/" + oid,
          type: "PUT",
          data: data,
          dataType: "json",
          success: function (result) {
              location.reload();
          }
      })
  };

  $("#orders").on('click-row.bs.table', function (e, row, $element) {
      $('.success').removeClass('success');
      $($element).addClass('success');
  });

  $.fn.editable.defaults.ajaxOptions = {type: "PUT", headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') }};
  $('.team-click').editable();
  $('.phone-click').editable();
  $('.address-click').editable({mode: "inline"});
  $('.install_date-click').editable({
      placement:'bottom',
      clear: false,
      format: 'yyyy/mm/dd',
      viewformat: 'yyyy-mm-dd'
  });
  $('.note-click').editable({mode: "inline"});

  function detailFormatter(index, row) {
      var html = [];
      $.each(row, function (key, value) {
          console.log(key);
          html.push('<p><b>' + key + ':</b> ' + value + '</p>');
      });
      return html.join('');
  };
  $('#date-select').datepicker({
      language: "zh-CN",
      autoclose: true,
      format: "yyyy-mm-dd"
  })
</script>