<table id="orders" data-toggle="table"
                   data-sort-class="true"
                   data-show-columns="true"
                   data-pagination="true"
                   data-search="true">
  <thead>
    <tr>
      <th>ID</th>
      <th>客户姓名</th>
      <th>联系电话</th>
      <th>客户地址</th>
      <th>安装时间</th>
      <!--<th class="single line">安装工</th>-->
      <th>备注</th>
      <th>销售单位</th>
      <th>商品型号</th>
      <th>销售单号</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td>
          <a href="#" data-name="customer" data-type="text" data-pk="<%= order.id %>"
             data-url="/orders/<%= order.id.to_s + ".json" %>" data-value="<%= order.customer %>"
             class="customer-click"><%= order.customer %>
          </a>
        </td>
        <td>
          <a href="#" data-name="phone" data-type="text" data-pk="<%= order.id %>"
             data-url="/orders/<%= order.id.to_s + ".json" %>" data-value="<%= order.phone %>"
             class="phone-click"><%= order.phone %>
          </a>
        </td>
        <td>
          <a href="#" data-name="address" data-type="textarea" data-pk="<%= order.id %>"
             data-url="/orders/<%= order.id.to_s + ".json" %>" data-value="<%= order.address %>"
             class="address-click"><%= order.address %>
          </a>
        </td>
        <td>
          <a href="#" data-name="install_date" data-type="date" data-pk="<%= order.id %>"
             data-url="/orders/<%= order.id.to_s + ".json" %>" data-value="<%= order.install_date %>"
             data-title="选择日期" class="install_date-click" style="z-index: 10000;"><%= order.install_date %>
          </a>
        </td>
        <!--<td><%#= order.team_name %></td>-->
        <td>
          <a href="#" data-name="note" data-type="textarea" data-pk="<%= order.id %>"
             data-url="/orders/<%= order.id.to_s + ".json" %>" data-value="<%= order.note %>"
             class="note-click"><%= order.note %>
          </a>
        </td>
        <td><%= order.sale_name %></td>
        <td><%= order.item_type %></td>
        <td><%= order.lading_no %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
    $(function () {
        $.fn.bootstrapTable.defaults;

        $("#orders").on('click-row.bs.table', function (e, row, $element) {
            $('.success').removeClass('success');
            $($element).addClass('success');
        });

        $.fn.editable.defaults.ajaxOptions = {type: "PUT", headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') }};
        $('.customer-click').editable();
        $('.phone-click').editable();
        $('.address-click').editable({mode: "inline"});
        $('.install_date-click').editable({
            format: 'yyyy/mm/dd',
            viewformat: 'yyyy-mm-dd'
        });
        $('.note-click').editable({
            mode: 'inline'
        });
    });
</script>