<p id="notice"><%= notice %></p>

<%= form_tag import_orders_path, multipart: true do |f| %>
  <% if Order.new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(Order.new.errors.count, "error") %> prohibited this import from completing:</h2>
      <ul>
        <% Order.new.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <%= file_field_tag :file %>
    <%= submit_tag "导入工单" %>
  <% end %>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>提货单号</th>
      <th>客户姓名</th>
      <th>销售部门</th>
      <th>客户地址</th>
      <th>住宅电话</th>
      <th>备用电话</th>
      <th>商品名称</th>
      <th>客户要求</th>
      <th>购买日期</th>
      <th>收货数量</th>
      <th>收货日期</th>
      <th>安装日期</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.lading_no %></td>
        <td><%= order.customer %></td>
        <td><%= order.sales %></td>
        <td><%= order.address %></td>
        <td><%= order.telephone %></td>
        <td><%= order.phone %></td>
        <td><%= order.item_name %></td>
        <td><%= order.demand %></td>
        <td><%= order.purchase_date %></td>
        <td><%= order.count %></td>
        <td><%= order.receiving_date %></td>
        <td><%= order.installation_date %></td>
        <td><%= link_to '查看', order %></td>
        <td><%= link_to '编辑', edit_order_path(order) %></td>
        <td><%= link_to '删除', order, method: :delete, data: { confirm: '确定要删除么?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
