<%= form_tag "/orders", method: "get" do %>
    <div class="row col-md-8" style="margin-bottom: 10px;">
      <div class="col-lg-6">
        <div class="input-group">
          <%= search_field_tag "like", nil, class: "form-control" %>
          <span class="input-group-btn">
            <%= submit_tag "查询", class: "btn btn-default" %>
          </span>
        </div>
      </div>
    </div>
<% end %>
<div class="col-md-4">
  <%= link_to "新建工单", new_order_path, class: "btn btn-primary pull-right" %>
</div>

<table id="orders"
       data-toggle="table"
       data-detail-view="true"
       data-detail-formatter="detailFormatter"
       data-minimum-count-columns="2"
       data-id-field="id">
  <thead>
    <tr>
      <th>ID</th>
      <th>安装工</th>
      <th>客户姓名</th>
      <th>联系电话</th>
      <th>客户地址</th>
      <th class="col-sm-1">安装时间</th>
      <!--<th class="single line">安装工</th>-->
      <th>备注</th>
      <th>销售单位</th>
      <th>商品型号</th>
      <th>销售单号</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td class="teams">
          <a href="#" data-name="team" data-type="text" data-pk="<%= order.id %>"
             data-url="/orders/<%= order.id.to_s + ".json" %>" data-value="<%= order.team_name %>"
             class="team-click"><%= order.team_name %>
          </a>
        </td>
        <td>
          <a href="#" data-name="customer" data-type="text" data-pk="<%= order.id %>"
             data-url="/orders/<%= order.id.to_s + ".json" %>" data-value="<%= order.customer %>"
             class="customer-click"><%= order.customer %>
          </a>
        </td>
        <td>
          <a href="#" data-name="phone" data-type="text" data-pk="<%= order.id %>"
             data-url="/orders/<%= order.id.to_s + ".json" %>" data-value="<%= order.phone %>"
             class="phone-click"><%= order.phone %>
          </a>
        </td>
        <td>
          <a href="#" data-name="address" data-type="textarea" data-pk="<%= order.id %>"
             data-url="/orders/<%= order.id.to_s + ".json" %>" data-value="<%= order.address %>"
             class="address-click"><%= order.address %>
          </a>
        </td>
        <td>
          <a href="#" data-name="install_date" data-type="date" data-pk="<%= order.id %>"
             data-url="/orders/<%= order.id.to_s + ".json" %>" data-value="<%= order.install_date %>"
             class="install_date-click"><%= order.install_date %>
          </a>
        </td>
        <!--<td><%#= order.team_name %></td>-->
        <td>
          <a href="#" data-name="note" data-type="textarea" data-pk="<%= order.id %>"
             data-url="/orders/<%= order.id.to_s + ".json" %>" data-value="<%= order.note %>"
             class="note-click"><%= order.note %>
          </a>
        </td>
        <td><%= order.sale_name %></td>
        <td>
          <a href="#" data-name="item_type" data-type="text" data-pk="<%= order.id %>"
             data-url="/orders/<%= order.id.to_s + ".json" %>" data-value="<%= order.item_type %>"
             class="install_date-click"><%= order.item_type %>
          </a></td>
        <td><%= order.lading_no %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="11">
        <div class="">
          <%= paginate @orders %>
          <%= page_entries_info @orders %>
        </div>
      </th>
    </tr>
  </tfoot>
</table>

<div class="modal hide fade in" id="new-order">
  <div class="modal-header">
    <a class="close" data-dismiss="modal"></a>
    <h4>新建工单</h4>
  </div>
  <div class="modal-body">

  </div>
</div>

<script>
    $(function () {
//        $.fn.bootstrapTable.defaults;

        $("#orders").on('click-row.bs.table', function (e, row, $element) {
            $('.success').removeClass('success');
            $($element).addClass('success');
        });

        $.fn.editable.defaults.ajaxOptions = {type: "PUT", headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') }};
        $('.team-click').editable({mode: "inline"});
        $('.customer-click').editable();
        $('.phone-click').editable();
        $('.address-click').editable({mode: "inline"});
        $('.install_date-click').editable({
            placement:'bottom',
            clear: false,
            format: 'yyyy/mm/dd',
            viewformat: 'yyyy-mm-dd'
        });
        $('.note-click').editable({mode: "inline"});

        function detailFormatter(index, row) {
            var html = [];
            $.each(row, function (key, value) {
                console.log(key);
                html.push('<p><b>' + key + ':</b> ' + value + '</p>');
            });
            return html.join('');
        }

        $('#new-order').modal({
          show: false
        });
        $('#dispatch').modal({
          show: false
        })
    });
</script>
