<%= form_tag import_orders_path, multipart: true, html: {class: "ui form"} do |f| %>
  <% if Order.new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(Order.new.errors.count, "error") %> prohibited this import from completing:</h2>
      <ul>
        <% Order.new.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <%= file_field_tag :file %>
    <%= submit_tag "导入工单" %>
  <% end %>
<% end %>

<table class="ui selectable celled table">
  <thead>
    <tr>
      <th>销售单号</th>
      <th class="single line">客户姓名</th>
      <th>客户地址</th>
      <th>联系电话</th>
      <th>客户要求</th>
      <th>商品名称</th>
      <th>销售单位</th>
      <th>创建时间</th>
      <th class="single line">安装工</th>
      <th>派工状态</th>
      <th class="single line">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.lading_no %></td>
        <td><%= order.customer %></td>
        <td><%= order.address %></td>
        <td><%= order.phone %></td>
        <td><%= order.note %></td>
        <td><%= order.item_type %></td>
        <td><%= order.sale_name %></td>
        <td><%= order.create_time %></td>
        <td><%= order.team_name %></td>
        <td><%= order.status %></td>
        <td><%= link_to '查看', order %></td>
        <!--<td><%#= link_to '编辑', edit_order_path(order) %></td>-->
        <!--<td><%#= link_to '删除', order, method: :delete, data: { confirm: '确定要删除么?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="11">
      <div class="ui right floated pagination menu">
        <%= paginate @orders %>
      </div>
    </th>
  </tr>
  </tfoot>
</table>
