<h4 class="ui horizontal divider header"><i class="tag icon"></i>工单信息</h4>
<table class="ui definition table">
  <tbody>
  <tr>
    <td>提货单号/销售单号</td>
    <td><%= @order.lading_no %></td>
    <td class="active">商品型号</td>
    <td><%= @order.item_type %></td>
  </tr>
  <tr>
    <td>销售部门</td>
    <td><%= @order.sale_name %></td>
    <td class="active">创建时间</td>
    <td><%= @order.create_time %></td>
  </tr>
  <tr>
    <td>创建网点</td>
    <td><%= @order.create_network %></td>
    <td class="active">服务网点</td>
    <td><%= @order.service_network %></td>
  </tr>
  <tr>
    <td>工单状态</td>
    <td><%= @order.status %></td>
    <td class="active">安装工</td>
    <td><%= @order.team_name %></td>
  </tr>
  </tbody>
</table>
<h4 class="ui horizontal divider header"><i class="user icon"></i>客户信息 </h4>
<table class="ui definition table">
  <tbody>
  <tr>
    <td>客户姓名</td>
    <td><%= @order.customer %></td>
  </tr>
  <tr>
    <td>联系电话</td>
    <td><%= @order.phone %></td>
  </tr>
  <tr>
    <td>客户属性</td>
    <td><%= @order.customer_attribute %></td>
  </tr>
  <tr>
    <td>详细地址</td>
    <td><%= @order.address %></td>
  </tr>
  <tr>
    <td>备注</td>
    <td><%= @order.note %></td>
  </tr>
  </tbody>
</table>

<%= link_to '返回', orders_path, class: "ui button" %>
